<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("button").click(function() {
                $.get("http://localhost:3000/api/v1/messages", function(data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                });
            });
        });
    </script>
</head>

<body>

    <button>Send an HTTP GET </button>

</body>

</html>